@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron text-center">
    <h1 class="display-4">My scripture Journal</h1>
    <p> seek ye diligently and teach one another words of wisdom.</p>
</div>
<div class="jumbotron text-center">
    <p><em>
    “But the Lord knoweth all things from the beginning;
    wherefore, he prepareth a way to accomplish all his works among
    the children of men; for behold, he hath all power unto the fulfilling of all his words. And thus it is. Amen.”
</em></p>
</div>